<h1>Edit contact</h1>

<form id="edit-contact" name="contact">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="birthdate"> birthdate:</label>
    <input type="text" name="birthdate" id="birthdate" value="<%= birthdate %>" >
  </div>

  <div class="field">
    <label for="age"> age:</label>
    <input type="text" name="age" id="age" value="<%= age %>" >
  </div>

  <div class="field">
    <label for="gender"> gender:</label>
    <input type="text" name="gender" id="gender" value="<%= gender %>" >
  </div>

  <div class="field">
    <label for="ethnicity"> ethnicity:</label>
    <input type="text" name="ethnicity" id="ethnicity" value="<%= ethnicity %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="contactable_type"> contactable_type:</label>
    <input type="text" name="contactable_type" id="contactable_type" value="<%= contactable_type %>" >
  </div>

  <div class="field">
    <label for="contactable_id"> contactable_id:</label>
    <input type="text" name="contactable_id" id="contactable_id" value="<%= contactable_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Contact" />
  </div>

</form>

<a href="#/index">Back</a>
