<p>
  <b>First name:</b>
  <%= first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= last_name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= birthdate %>
</p>

<p>
  <b>Age:</b>
  <%= age %>
</p>

<p>
  <b>Gender:</b>
  <%= gender %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= ethnicity %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Contactable type:</b>
  <%= contactable_type %>
</p>

<p>
  <b>Contactable:</b>
  <%= contactable_id %>
</p>


<a href="#/index">Back</a>