.row
  .col-xs-6.col-sm-6.col-md-6.col-lg-6
    %h1 Reset Your Password
  .col-xs-6.col-sm-6.col-md-6.col-lg-6{ style: 'text-align: right; padding-top: 18px;' }
    = render 'devise/shared/links'
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    = render partial: 'shared/form_errors', object: resource
    .well
      = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, layout: :horizontal ) do |f|
        = f.hidden_field :reset_password_token
        = f.password_field :password, label: 'New Password', autofocus: true, autocomplete: "off"
        = f.password_field :password_confirmation, label: 'Confirm New Password', autocomplete: "off"
        = f.form_group do
          = submit_button do
            = font_awesome( 'save' )
            = nbsp
            Reset Password
